*,
::before,
::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	/* font-size: 3em; */
	font-family: 'Varela Round', sans-serif;
}

.blog-header {
	background: url(./img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}

div h2 {
	color: white;
	padding: 40px;
	text-shadow: 5px 2px 10px rgba(0, 0, 0, 0.9);
	font-size: 3em;
}
.header-btn button {
	margin: 25px;
	width: 150px;
	padding: 10px;
	font-size: 19px;
	background: transparent;
	color: white;
	font-weight: 700;
	border: solid 3px #17a8cc;
	border-radius: 9px;
}
button {
	width: 150px;
	padding: 10px;
	font-size: 19px;
	background: transparent;
	color: black;
	font-weight: 700;
	border: solid 3px #17a8cc;
	border-radius: 9px;
	cursor: pointer;
}
.header-btn button:hover {
	padding: 10px;
	background: #17a8cc;
	transition: all 0.5s;
}
button:hover {
	padding: 10px;
	background: #17a8cc;
	transition: all 0.5s;
	color: white;
}
.blog {
	/* background: linear-gradient(to right, #536976, #292e49); */
	display: flex;
	padding: 60px;
	gap: 20px;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
.middle-container-img h5 {
	margin: 20px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: black;
}

.middle-container-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.middle-container-img img {
	width: 500px;
	height: 400px;
	border-radius: 20px;
}

.blog-message {
	display: flex;
	background: #77acf1;
	padding: 20px;

	border-radius: 20px;
}

.blog-container {
	width: 150px;
	height: 300px;
	color: white;
	word-spacing: 10px;
}
.share-save {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
	padding: 10px;
	background: transparent;
}
.blog-container img {
	width: 70px;
	border-radius: 50%;
	height: 70px;
	padding: 10px;
}

i {
	background: transparent;
	cursor: pointer;
}

.blog-new-container {
	width: 300px;
	padding: 20px;
}
.blog-img {
	width: 300px;
	height: 250px;
	border-radius: 10px;
}

.para {
	line-height: 1.6;
	font-weight: 900;
	font-size: 18px;
}

.blog-button button {
	font-size: 16px;
}

.profile-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.blog-news-repoter {
	padding: 10px;
}
.topic-container {
	padding: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	width: 100%;
}
.new1,
.new3 {
	background-color: #ff7e67;
	border-radius: 10px;
	padding: 10px;
	color: white;
	font-size: 10px;
}
.new4,
.new2 {
	background-color: #7579e7;
	border-radius: 10px;
	padding: 10px;
	color: white;
	font-size: 10px;
}

.final-message {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	width: 100%;
	height: 100vh;
	color: white;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
.final-img {
	padding: 20px;
	color: white;
	display: block;
	text-align: center;
}
.final-img h3 {
	margin-top: 20px;
}
.final-news-img {
	width: 600px;
	height: 400px;
	border-radius: 20px;
}
.final-news {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.final-news button {
	color: white;
}
.footer {
	height: 30vh;
	display: flex;
	flex-direction: column;
	place-items: center;
	padding: 40px 0px 90px 0px;
	padding-top: 100px;
	font-size: 1rem;
}
.footer-text span {
	font-size: 2rem;
	margin: 10px;
}
.copyright {
	text-align: center;
	padding: 10px;
	font-size: 1.5rem;
}
.myname {
	text-align-last: right;
}
